:root {
    /*Darkest to lightest in color palette*/
    --color5: #022b3a;
    --color4: #1f7a8c;
    --color3: #bfdbf7;
    --color2: #e1e5f2;
    --color1: #ffffff;
}
html {
    scroll-behavior: smooth;
}

* {
    font-family: monospace;
    box-sizing: border-box;
}

header, main, footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header, footer {
    justify-content: space-around;
    align-items: center;
    background-color: var(--color5);
    color: var(--color1);
    padding: 10px 0;
    
}


/*Header CSS */
header {
    max-height: 50%;
}

header > * {
    padding: 0 1vw;
}

.header-logo-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.header-logo-name img {
    height: 96px; 
    flex: 2 1 auto;
    padding: 5px 0;
}

.header-logo-name h1 {
    padding-left: 10px;
}

header a, footer a {
    color: var(--color1);
}

nav {
    display: flex;
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding: 5px 20px 0;
    font-size: 16px;
    font-weight: bold;
}

.section-headers, h1 {
    font-weight: bold;
    font-size: 22px;
}

/*Selects "About Me", "My Projects", "Contact Me" */
.section-headers {
    flex: 0 0 auto;
    border: solid 1px blue;
    display: inline;
}

/*Main CSS*/
main {
   
}

.section1, .section2, .section3 {
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    border: solid 1px red;
}

.section-1-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.section1 img {
    flex: 50 auto;
    max-width: 20%;
    display: flex;
    flex-wrap: wrap;
}

.flex-box {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.text {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}


/*.card-container is flexing to .section2 container*/
.card-container {
    flex: 0 0 0;
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 0 1 25%;
    text-align: center;
    border: solid 2px green;
    display: flex; /*.card is a figure container for an img, h3, and p.*/
    flex-wrap: wrap; 
}

/*Make the anchor tag wrap to the figure or .card container*/
.card a {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
}

/*Make the img nested inside the anchor wrap to the anchor*/
a img {
    flex: 0 0 0;
}

/*Edit responsive sizing on the imgs within the cards*/
.card img {
    flex: 1 1 0%;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    display: flex; 
}

.card figcaption {
    flex: 0 0 100%;
}

