:root {
    /*Darkest to lightest in color palette*/
    --color5: #022b3a;
    --color4: #1f7a8c;
    --color3: #bfdbf7;
    --color2: #e1e5f2;
    --color1: #ffffff;
}
html {
    scroll-behavior: smooth;
}

* {
    font-family: monospace;
    box-sizing: border-box;
}

header, main, footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header, footer {
    justify-content: space-around;
    align-items: center;
    background-color: var(--color5);
    color: var(--color1);
    padding: 10px 0;
    border-top: solid 5px var(--color4);
    border-bottom: solid 5px var(--color4);
}

h1 {
    font-weight: bold;
    font-size: 22px;
}


/*Header CSS */

header {
    max-height: 50%;
}

header > * {
    padding: 0 1vw;
}

.header-logo-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.header-logo-name img {
    height: 96px; 
    flex: 1 1 auto;
    padding: 5px 0;
}

.header-logo-name h1 {
    padding-left: 10px;
}

header a, footer a {
    color: var(--color1);
}

nav {
    display: flex;
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-ul li {
    justify-content: center;
    align-content: space-around;
    padding: 5px 20px 0;
    font-size: 16px;
    font-weight: bold;
}



/*Main CSS*/
/*reference line 24*/

main {
    justify-content: space-around;
    align-items: center;
    background-color: var(--color3);
    color: black;
    padding: 10px 0 0;
} 


.section1, .section2, .section3 {
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    width: 100%;
} 

.section1, .section2 {
    border-bottom: var(--color5) solid 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/*Selects text "About Me", "My Projects", "Contact Me" */
.section-headers {
    border: var(--color4) solid 5px;
    background-color: var(--color2);
    padding: 25px 5px;
    margin: 0 10px;
    font-weight: bold;
    font-size: 26px;
    align-content: center;
    justify-content: center;
}

/* Section 1 About Me */

.section1 {
    align-items: center;
}

.section1-header {
    flex: 1 0 auto;
    display: flex;
}

.section1-figure {
    flex: 1 0 33%;
    display: flex;
    align-items: center;
    max-width: 33%;
}

.section1-figure img {
    max-width: 100%;
    border: solid 5px var(--color4);
} 

.section1 p {
    flex: 1 0 33%;
    font-size: 16px;
    justify-content: center;
    align-content: center;
    text-align: center; /*Left is default, play around with center for design*/
    border: solid 5px var(--color4);
    background-color: var(--color2);
    margin: 0 5%;
    display: flex;
    align-items: center;
    max-width: 33%;
}

/* Section 2 My Projects */

.section2 {
    align-items: center;
}

.section2-header {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
}

.card {
    flex: 1 0 50%; /* each card will take up half of the section container. */
    text-align: center;
    display: flex; 
    flex-wrap: wrap; 
    align-content: center;
    justify-content: center;
    background: var(--color2);
    border: solid 5px var(--color4);
}

/*Make the anchor tag wrap to the figure class= "card". */
.card a {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

/*Make the img nested inside the anchor occupy the full width of the anchor. */
a img {
    max-width: 100%;
}

.card figcaption {
    width: 100%; /* each figcaption in a card will take up the full available width of the flex container. */
    margin: 10px 10px;
    background-color: var(--color1);
    border: solid 5px var(--color5);
    font-size: 16px;
}

.card figcaption h3 {
    font-size: 22px;
    font-weight: 600; 
}

.calculator-card {
    flex: 2 1 100%; /* the calculator card is going to take up the full width of the section container for emphasis. */
}

/* Section 3 Contact Me */

.section3 {
    align-items: center;
    margin-bottom: 10px;
}

.section3-header {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px;
}

.contact-me-info {
    border: solid 5px var(--color4);
    margin: 10px;
    padding: 10px;
    background-color: var(--color2);
    text-align: left; /* The default is already left, consider future change.*/
    font-size: 16px;
    font-weight: bold;
}