:root {
    /*Darkest to lightest in color palette*/
    --color5: #022b3a;
    --color4: #1f7a8c;
    --color3: #bfdbf7;
    --color2: #e1e5f2;
    --color1: #ffffff;
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

* {
    font-family: monospace;
}

header, main, footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header, footer {
    justify-content: space-around;
    align-items: center;
    background-color: var(--color5);
    color: var(--color1);
    padding: 10px 0;
    
}
/*Header CSS */
header {
    max-height: 50%;
}

header > * {
    padding: 0 1vw;
}

.header-logo-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.header-logo-name img {
    height: 96px;
    flex: 2 1;
    padding: 5px 0;
}

.header-logo-name > h1 {
    padding-left: 10px;
}

header a, footer a {
    color: var(--color1);
}
nav {
    display: flex;
}


.nav-ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}
.nav-ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding: 5px 20px 0;
    font-size: 16px;
    font-weight: bold;
}

/*Main CSS*/
.section1, .section2, .section3 {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.text {
    font-size: 16px;
}

.section-headers, h1 {
    font-weight: bold;
    font-size: 22px;
}

h2 {
    align-items: flex-start;
    padding: 1%;
}